<%= stylesheet_link_tag 'recipemain' %>
<h2 class="mt-4"><%= @recipe.name%></h2>
<div class="card mb-3 mt-3 mb-5 p-3 b-0">
  <div class="row no-gutters">
    <div class="col-md-8">
      <p>Preparation time: <%= @recipe.preparation_time %></p>
      <p>Cooking time: <%= @recipe.cooking_time %></p>
      <p>Steps: <%= @recipe.description %></p> 
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <%= form_for @recipe do |f| %>
          <% if @recipe.user == current_user %>
            <div class="field">
              <%= f.label :public %>
              <%= f.check_box :public, { checked: @recipe.public?, onchange: 'this.form.submit();' }, 'true', 'false' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<main>

    <section class="recipe_detail_section2">
            <button class="custom_btn1 mr-5"><%= link_to 'Generate Shopping List', shopping_lists_path, class:"td_none custom_color1" %></button>
            <% if @recipe.user == current_user %>
              <button class="custom_btn1 ml-5">
                <%=link_to "Add ingredient", new_recipe_recipe_food_path(@recipe), class:"td_none custom_color1"%>
              </button>
            <% end %>
        </section>

        <section class="recipe_detail_section3">

            <table class="styled_table">

                <thead>
                    <tr>
                        <th>Food</th>
                        <th>Quantity</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody> 

                <% @recipe.recipe_foods.each do |recipeFood|%> 
                    <tr class="active_row custom_row1"> 
                        <th class="custom_font1"><%= recipeFood.food.name%></th>
                        <th class="custom_font1"><%= recipeFood.quantity %><%= recipeFood.food.measurement_unit  %></th>
                        <th class="custom_font1">$<%= recipeFood.quantity.to_i * recipeFood.food.price %></th>
                        <th class="custom_font1 table_flex1">
                        <button class="custom_btn1"><%=link_to "Modify", edit_recipe_recipe_food_path(recipe_id: @recipe.id, id:recipeFood.id), class:"td_none custom_color1"%></button>
                        <%=button_to "Delete", recipe_recipe_food_path(recipe_id: @recipe.id, id: recipeFood.id), method: :delete, class:"custom_btn1 custom_color1"%>
                        </th>
                    </tr>
                <% end %> 

                </tbody>

            </table>

    </section>

</main>